<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/base.css">
    <link rel="stylesheet" href="../../public/css/allgoods.css">
    <link rel="stylesheet" href="../../public/iconfont/iconfont.css">
</head>

<body>
    <!-- 头部 -->
    <div class="header">
        <div class="wrapper">
            <div class="left">
                <i class="iconfont icon-shijian"></i>
                <p> 在线时间 08:30~21:30</p>
                <p>欢迎访问户外运动专卖商城！</p>
            </div>
            <div class="right">
                <label for="search">
                    <i class="iconfont icon-sousuo1"></i>
                </label>
                <i class="iconfont icon-weidenglu"></i>
                <i class="iconfont icon-gouwuchekong"></i>
            </div>
        </div>
    </div>
    <!-- 标题头 -->
    <div class="header_title">
        <div class="wrapper">
            <img src="../../public/images/30.webp" alt="">
            <div class="right">
                <input type="text" id="search" placeholder="搜索商品关键字">
                <div class="right">
                    <i class="iconfont icon-sousuo"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- 导航栏 -->
    <div class="nav">
        <div class="wrapper">
            <ul class="nav_ul">
                <li><a href="../views/index.html"><span>商城首页</span></a></li>
                <li class="active"><a href="javascript:;"><span>所有商品</span></a></li>
                <li><a href="../views/news1.html"><span>商城动态</span></a></li>
                <li><a href="javascript:;"><span>支付方式</span></a></li>
                <li><a href="javascript:;"><span>关于店铺</span></a></li>
                <li><a href="javascript:;"><span>线下门店</span></a></li>
            </ul>
        </div>
    </div>
    <!-- 商品筛选导航栏 -->
    <div class="filter">
        <div class="wrapper">
            <table>
                <thead>
                    <tr>
                        <th class="th1" colspan="2">首页&nbsp;/&nbsp;所有商品</th>
                        <th colspan="4">
                            <div class="search">
                                <input type="text" placeholder="搜索商品关键字">
                                <i class="iconfont icon-sousuo"></i>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="classtype">
                        <td class="active1">所有分类</td>
                        <td colspan="5" class="tdspan">
                            <span class="activespan">滑雪服</span>
                            <span>滑雪眼镜</span>
                            <span>滑雪配件</span>
                            <span>滑雪板</span>
                            <span>滑雪手杖</span>
                        </td>
                        <!-- <td class="skiwear">滑雪服</td>
                        <td class="goggles">滑雪眼镜</td>
                        <td class="accessories">滑雪配件</td>
                        <td class="skis">滑雪板</td>
                        <td class="cane">滑雪手杖</td> -->
                    </tr>
                    <tr class="placelist">
                        <td class="active1">产地</td>
                        <td class="placess" colspan="5">
                            <span data-uid="1" class="activespan">中国</span>
                            <span data-uid="2">德国</span>
                            <span data-uid="3">美国</span>
                        </td>
                        <!-- <td class="china">中国</td>
                        <td class="germany">德国</td>
                        <td class="america">美国</td> -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- 商品内容 -->
    <div class="product">
        <div class="wrapper">
            <div class="pro_content">
                <ul class="pro_content_ul">
                    <li>
                        <div class="pic"><img src="../../public/images/29.webp"></div>
                        <p>滑雪眼睛012<b></b></p>
                        <div class="bottom">
                            <span>￥2800</span>
                            <i class="iconfont icon-gouwuchekong"></i>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 底部雪碧图 -->
    <div class="foot">
        <div class="wrapper">
            <img src="../../public/images/18.webp">
            <img src="../../public/images/17.webp">
            <img src="../../public/images/16.webp">
            <img src="../../public/images/15.webp">
            <img src="../../public/images/14.webp">
            <img src="../../public/images/13.webp">
            <img src="../../public/images/12.webp">
            <img src="../../public/images/11.webp">
        </div>
    </div>
    <!-- 最底部图片和文字 -->
    <div class="foot1">
        <div class="wrapper">
            <div class="foot1_top">
                <div class="foot1_top_pic">
                    <img src="../../public/images/10.webp">
                    <div class="foot1_top_pic_font">
                        <h4>满1000元全国包邮</h4>
                        <p>全场订单满1000元全国包邮</p>
                    </div>
                </div>
                <div class="foot1_top_pic">
                    <img src="../../public/images/9.webp">
                    <div class="foot1_top_pic_font">
                        <h4>下单送精美礼品</h4>
                        <p>本店购买任意商品赠送精美礼品</p>
                    </div>
                </div>
                <div class="foot1_top_pic">
                    <img src="../../public/images/8.webp">
                    <div class="foot1_top_pic_font">
                        <h4>满1000元全国包邮</h4>
                        <p>全场订单满1000元全国包邮</p>
                    </div>
                </div>
                <div class="foot1_top_pic">
                    <img src="../../public/images/7.webp">
                    <div class="foot1_top_pic_font">
                        <h4>店铺优惠劵</h4>
                        <p>每日整点可领取限量优惠劵</p>
                    </div>
                </div>
            </div>
            <div class="foot1_center">
                <div class="foot1_center_font">
                    <dl>
                        <dt>关于产品</dt>
                        <dd>本店商品非质量问题谢绝退换，如</dd>
                        <dd>有质量问题，本店承担运费调换</dd>
                    </dl>
                    <div class="pay">
                        <h4>支付方式</h4>
                        <div class="pay_pic">
                            <img src="../../public/images/4.png">
                            <img src="../../public/images/3.png">
                            <img src="../../public/images/1.png">
                        </div>
                    </div>
                </div>
                <div class="foot1_center_font">
                    <dl>
                        <dt>售后服务</dt>
                        <dd>消費者保障服务</dd>
                        <dd>七天无理由退款</dd>
                        <dd>假一赔三</dd>
                    </dl>
                    <dl class="dls">
                        <dt>关于商城</dt>
                        <dd>本店商品非质量问题谢绝退换，如</dd>
                        <dd>有质量问题，本店承担运费调换</dd>
                    </dl>
                </div>
                <div class="foot1_center_font">
                    <dl>
                        <dt>退换货政策</dt>
                        <dd>本店商品非质量问题谢绝退换，如</dd>
                        <dd>有质量问题，本店承担运费调换</dd>
                    </dl>
                    <dl class="dls1">
                        <dt>关于产品</dt>
                        <dd>本店商品非质量问题谢绝退换，如</dd>
                        <dd>有质量问题，本店承担运费调换</dd>
                    </dl>
                </div>
                <div class="foot1_center_font">
                    <dl>
                        <dt>售后服务</dt>
                        <dd>本店商品非质量问题谢绝退换，如</dd>
                        <dd>有质量问题，本店承担运费调换</dd>
                    </dl>
                    <div class="foot1_center_font_bottom">
                        <img src="../../public/images/6.webp" class="pic1"><br>
                        <img src="../../public/images/5.webp">
                        <p>搜索微信号：HUAYU</p>
                    </div>
                </div>
            </div>
            <div class="foot1_bottom">
                <div class="xbt">
                    <span class="sp1"></span>
                    <span class="sp2"></span>
                    <span class="sp3"></span>
                    <span class="sp4"></span>
                    <span class="sp5"></span>
                    <span class="sp6"></span>
                </div>
                <div class="foot1_bottom_font">
                    Copyright © 2010-2015户外运动商品专卖 All rights reserved
                </div>
            </div>
        </div>
    </div>
    <!-- 电梯导航 -->
    <div class="enav">
        <p class="ep1"></p>
        <p class="ep2"></p>
        <p class="ep3"></p>
    </div>
    <script src="../components/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../components/mock-min.js"></script>
    <script src="../api/allgoodsapi.js"></script>
    <script src="../../public/js/allgoods.js"></script>
</body>

</html>