* {
    margin: 0;
    padding: 0;
}

.container-fluid h2 {
    color: white;
}

.bgc {
    background-color: #c7cecf;
    height: 60px;

}

.data-a {
    color: white;
    font-size: 30px;
}

.color {
    color: black;
}

.accordion-button:focus {
    box-shadow: none;
}

.nav-link {
    color: black;
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
    box-shadow: none;
    color: black;
}

.accordion-item {
    border: none;
}

.nav-link:hover,
.nav-link:focus {
    color: #0075ff;
}

.con {
    padding: 15px;
    box-shadow: 0 0 5px#c7cecf77;
}

.bu {
    border: 0;
    color: red;
    background-color: transparent;
}

.colo {
    color: #0075ff;
}