<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/adminindex.css">
    <link rel="stylesheet" href="../../public/iconfont/iconfont.css">
</head>

<body>
    <div class="header">
        <h1>购物商品管理后台</h1>
        <h4>欢迎登录</h4>
    </div>
    <div class="content">
        <div class="left">
            <ul>
                <li>
                    <div class="dd">
                        <i class="iconfont icon-shangpin"></i><span>商城首页</span>
                    </div>
                    <div class="one">
                        <a href="../../src/views/adminindex.html">banner图信息</a>
                        <a href="../../src/views/adminindexcenter.html">中部内容信息</a>
                        <a href="../../src/views/adminindexbottom.html">透明背景信息</a>
                        <a href="../../src/views/adminindexgoods.html">添加商品</a>
                        <a href="../views/adminindexbj.html">添加图片</a>
                        <a href="../views/adminindexxbt.html">添加精灵图</a>
                    </div>
                </li>
                <li>
                    <div class="dd">
                        <i class="iconfont icon-bianjiwenzhang_huaban"></i><span>所有商品</span>
                    </div>
                    <div class="one">
                        <a href="javascript:;">所有分类</a>
                        <a href="../../src/views/allgoodsplace.html">产地</a>
                    </div>
                </li>
                <li>
                    <div class="dd">
                        <i class="iconfont icon-shezhi"></i><span>商品动态</span>
                    </div>
                    <div class="one">
                        <a href="../../src/views/goodsnews.html">添加动态</a>
                    </div>
                </li>
                <li>
                    <div class="dd">
                        <i class="iconfont icon-tuichu"></i><span>退出系统</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="right">
            <h4 class="h4">所有商品/所有分类</h4>
            <div class="bottom">
                <button class="btn1"><i class="iconfont icon-zengjia"></i>新增</button>
                <button class="btn2"><i class="iconfont icon-xiugai"></i>修改</button>
                <button class="btn3"><i class="iconfont icon-shanchu"></i>删除</button>
                <button class="btn4"><i class="iconfont icon-update"></i>刷新</button>
                <div class="right_one">
                    <input type="text" name="search" id="search" placeholder="请输入商品名称">
                    <button class="btn5"><i class="iconfont icon-31sousuo"></i>查询</button>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th><input type="checkbox" class="chall"></th>
                            <th>商品分类</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
        </div>
    </div>
    <!-- 弹窗 -->
    <div class="mod">
        <div class="lm">
            <div class="top">
                <h3 class="hh">新增窗口</h3><span class="shanchu">X</span>
            </div>
            <div class="bot">
                <form autocomplete="off" style="text-align: center;">
                    <label for="con">商品分类</label>
                    <input type="text" name="con" id="con">
                    <div class="bu">
                        <input class="btn6" type="button" value="取消">
                        <button class="btn7">新增</button>
                    </div>
                </form>
                <form autocomplete="off" style="display: none;text-align: center;">
                    <input type="hidden" name="uid" id="uid">
                    <input type="hidden" name="cid" id="cid">
                    <label for="con1">商品分类</label>
                    <input type="text" name="con1" id="con1"><br>
                    <div class="bu">
                        <input class="btn6" type="button" value="取消">
                        <button class="btn8" type="button">编辑</button>
                    </div>
                </form>
                <form autocomplete="off" style="display: none;text-align: center;">
                    <input type="hidden" name="uid1" id="uid1">
                    <input type="hidden" name="cid1" id="cid1">
                    <label for="con2">商品分类</label>
                    <input type="text" name="con2" id="con2"><br>
                    <div class="bu">
                        <input class="btn6" type="button" value="取消">
                        <button class="btn9" type="button">编辑</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="../components/jquery.js"></script>
    <script src="../components/mock-min.js"></script>
    <script src="../../src/api/allgoodsclass.js"></script>
    <script src="../../public/js/allgoodsclass.js"></script>
</body>

</html>